* {
    background-color: rgb(25, 25, 25);
    color: pink;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: arial;
}

#calculator {
    border: 5px solid pink;
    padding: 25px;
    width: 700px;
    display: grid;
    gap: 5px;
    border-radius: 25px;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "result result result result"
    "clear clear clear clear"
    "seven eight nine divide"
    "four five six multiply"
    "one two three subtract"
    "zero zero equals add";
    align-items: center;
    background-color: black;
}

#calculator > div {
    border: 2px solid pink;
    border-radius: 12px;
    text-align: center;
    padding: 12px;
}

#result {
grid-area: result;
height: 150px;
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
}

#clear {
grid-area: clear;
background-color: pink;
color: black;
}

#seven {
grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#divide {
    grid-area: divide;
    background-color: pink;
    color: black;
}

#four {
 grid-area: four;
}

#five {
grid-area: five;
}

#six {
grid-area: six;
}

#multiply {
    grid-area: multiply;
    background-color: pink;
    color: black;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#subtract {
    grid-area: subtract;
    background-color: pink;
    color: black;
}

#zero {
    grid-area: zero;
}

#equals {
    grid-area: equals;
    background-color: pink;
    color: black;
}

#add {
    grid-area: add;
    background-color: pink;
    color: black;
}